# ===========================
# Python
# ===========================

# Virtual environments
.venv/
venv/
env/

backend/.venv/
backend/venv/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.env.*
backend/.env
frontend/.env
frontend/.env.*

# ===========================
# Frontend
# ===========================

frontend/node_modules/
frontend/dist/
frontend/.vite/

# ===========================
# IDE
# ===========================

.vscode/
.idea/

# ===========================
# Logs
# ===========================

*.log

# ===========================
# OS
# ===========================

.DS_Store
Thumbs.db